/** @format */

@tailwind components;
@layer components {
	.inputFile {
		@apply h-12 bg-clBlan file:bg-clNeg/20 file:text-clNeg file:rounded-full file:px-5 file:h-12 file:border;
		width: 100%;
		text-overflow: ellipsis;
	}

	.row {
		width: 100%;
		display: flex;
		margin: 5px;
		flex-wrap: wrap;
		font-weight: bold;
		margin: 0;
	}

	.row > * {
		@apply px-3;
		width: 100%;
		max-width: 100%;
		padding: 10px;
	}

	.form-group {
		position: relative;
		margin-block: 10px;
	}

	.form-group .input:focus + .form-label,
	.form-group .input:valid + .form-label {
		@apply bg-transparent;
		animation: floatLabel 0.3s ease-in-out forwards;
	}

	.form-group .form-label {
		position: absolute;
		bottom: 15px;
		left: 20px;
		padding-inline: 5px;
		pointer-events: none;
	}
	.form-group .input[required] + .form-label::before {
		content: '*';
		color: red;
	}

	.input {
		@apply block w-full h-12 border-2 rounded-lg text-clNeg bg-clBlan;
		padding-block: 5px;
		margin-top: 5px;
		text-indent: 12px;
		outline: none;
	}

	@keyframes floatLabel {
		0% {
			font-size: 16px;
			opacity: 0.5;
			transform: translateY(0px);
		}

		100% {
			@apply text-clNeg/60;
			font-size: 14px;
			opacity: 1;
			transform: translateY(-25px);
		}
	}

	#entradaSec {
		& .link {
			@apply dark:text-clBlan;
		}

		& .form-label {
			@apply dark:text-clBlan bg-clBlan dark:bg-clNeg;
		}

		& .input {
			@apply dark:text-clBlan dark:border-clBlan dark:bg-clNeg;
		}

		@media (prefers-color-scheme: dark) {
			input:-webkit-autofill,
			input:-webkit-autofill:hover,
			input:-webkit-autofill:focus,
			textarea:-webkit-autofill,
			textarea:-webkit-autofill:hover,
			textarea:-webkit-autofill:focus,
			select:-webkit-autofill,
			select:-webkit-autofill:hover,
			select:-webkit-autofill:focus {
				-webkit-text-fill-color: theme(colors.clBlan);
				-webkit-box-shadow: 0 0 0px 1000px theme(colors.clNeg) inset;
				transition: background-color 5000s ease-in-out 0s;
			}
		}
	}
}
