/** @format */

@tailwind components;

@layer components {
	.qsLogo {
		content: url('../../assets/logoQS.svg');
	}

	.qsNom {
		content: url('../../assets/QSName.svg');
	}

	@media (prefers-color-scheme: dark) {
		.qsLogo {
      content: url('../../assets/logoQSW.svg');
    }
		.qsNom {
			content: url('../../assets/QSNameW.svg');
		}
	}
}
