@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  html,
  body,
  #root {
    width: 100%;
    min-height: 100%;
    display: flex;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply p-3 m-5;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-opacity-30 rounded-lg bg-slate-800;
  }
}
